.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.borderr{
  border: none;
  border-radius: 15px;
  background-color: #69BFAF;
  padding-bottom: 5px;

 height: 100%;
 text-align: center;
}

.title{
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  padding-bottom: 20px;
  padding-top: 10px;
}


.subtitle{
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar{
  margin-bottom: 3%;
  background-color: #69BFAF;
  color: white;
}

img{
  border-radius: 20px;
  margin-top: 5%;
}

.servicecard{
  border-radius: 20px;
  background-color: #69BFAF;
}

button{
  margin-bottom: 3%;
  background-color: #F2B749;
}

.top-buffer { margin-top:20px; }

.footer{
  background-color: #69BFAF;
  margin-top: 5%;
  padding: 5%;
}

.icons{
  width: 5%;
  height: auto;
}

a:link {
  color: rgb(43,42,42);
  text-decoration-line: none;
}
a:visited {
  color: rgb(43,42,42);
  text-decoration-line: underline;
}
a:hover {
  color: white;
}

hr{
  margin-top: 5%;
  margin-bottom: 5%;
}

